#contain--cont{
    border: 1px solid black;
    width: 1000px;
    height: 600px;
    padding: 16px;
    margin-inline: auto;
    display: flex;
}

.contain--input{
    width: 320px;
    height: 50px;
    margin-block: 12px;
    word-spacing: 4px;
}

.box_email{
    border: 1px solid gray;
    border-radius: 18px;
    padding-inline: 12px;
    padding-block: 6px;
    width: 60px;
    line-height: 16px;
    max-height: 30px;
    font-weight: 500;
    margin-block: 12px;
    transition: width 0.4s ease-in-out;

}
.box_email:focus{
    width: 196px;
}

.box_senha{
    border: 1px solid gray;
    border-radius: 18px;
    padding-inline: 12px;
    padding-block: 6px;
    width: 196px;
    line-height: 16px;
    max-height: 30px;
    font-weight: 500;
    margin-block: 12px;
}

.box_url{
    border: 1px solid gray;
    border-radius: 18px;
    padding-inline: 12px;
    padding-block: 6px;
    width: 196px;
    line-height: 16px;
    max-height: 30px;
    font-weight: 500;
    margin-block: 12px;
}

.box_text{
    border: 1px solid gray;
    border-radius: 18px;
    padding-inline: 12px;
    padding-block: 6px;
    width: 232px;
    line-height: 16px;
    max-height: 30px;
    font-weight: 500;
    margin-block: 12px;
}

.box_pesquisa{
    border: 1px solid gray;
    border-radius: 18px;
    padding-inline: 12px;
    padding-block: 6px;
    width: 196px;
    line-height: 16px;
    max-height: 30px;
    font-weight: 500;
    margin-block: 12px;
    transition: width 0.4s ease-in-out;
}

.box_pesquisa:focus{
    width: 362px;
}

.box_numero{
    border: 1px solid gray;
    border-radius: 18px;
    padding-inline: 12px;
    padding-block: 6px;
    width: 196px;
    line-height: 16px;
    max-height: 30px;
    font-weight: 500;
    margin-block: 12px;
}

/* .box_submit{
    border: 1px solid gray;
    border-radius: 18px;
    padding-inline: 12px;
    padding-block: 6px;
    width: 196px;
    line-height: 16px;
    max-height: 30px;
    font-weight: 500;
} */

iframe{
    margin-block: 4rem;
    margin-inline: 100px;
    border-radius: 30px;
    border: none;
}
