/*-----------------------------Estilizando Header  */
#header {
  position: fixed;
  width: 100%;
  margin-block: 0;
  height: 80px;
  padding: 20px;
  color: white;
  background-color: transparent; /* Torna o fundo transparente inicialmente */
  transition: background-color 0.3s ease;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding-inline: 6rem;
  align-items: center;
}

/* Header para páginas internas */
.header-relative{
  position: relative;
  width: 100%;
  margin-block: 0;
  height: 80px;
  padding: 20px;
  color: white;
  background-color: transparent; /* Torna o fundo transparente inicialmente */
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  padding-inline: 6rem;
  align-items: center;
}

#header.scroll {
  background-color: rgba(255, 255, 255, 0.9); /* Cor sólida */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header__name-logo {
  display: block;
  font-weight: bold;
  font-size: 2.5rem;
  padding-block: 14px;
  padding-inline: 8px;
  text-align: center;
  cursor: pointer;
}

/* #header.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
} */

#flori {
  color: #718143;
}

#blog {
  color: rgba(255, 147, 53, 0.8);
}

#header__nav-menu {
  border-radius: 500px;
  padding-block: 15px;
  padding-inline: 22px;
}

#header__menu {
  list-style: none;
  display: flex;
  font-size: 1.1em;
}

.header__nav-link {
  padding-block: 8px;
  padding-inline: 16px;
  text-decoration: none;
  color: #718143;
}

.header__nav-link:hover {
  padding-block: 8px;
  padding-inline: 16px;
  text-decoration: none;
  border-bottom: 3px solid rgba(255, 147, 53, 0.8);
}

.header_modos {
  color: white;
  display: flex;
  height: 35px;
  justify-content: space-between;
}

.header_icon {
  margin-inline: 10px;
  border-radius: 1000px;
}

.header_icon:hover {
  color: rgba(255, 147, 53, 0.8);
  margin-inline: 10px;
  border-radius: 1000px;
  cursor: pointer;
}

/* Responsividade para Dispositivos Móveis */
@media (max-width: 767px) {
  header,
  footer {
    padding: 10px;
  }
  .header__name-logo {
    flex-direction: column;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container_sec-info {
    text-align: center;
  }
  .card {
    width: 100%;
    margin-bottom: 20px;
  }
}

#flori{
    color: #718143;
}

#blog{
    color: rgba(255, 147, 53, 0.8);
}

#header__nav-menu{
    border-radius: 500px;
    padding-block: 15px;
    padding-inline: 22px;
}

#header__menu{
    list-style: none;
    display: flex;
    font-size: 1.10em;
}

.header__nav-link{
    padding-block: 8px;
    padding-inline: 16px;
    margin-inline: 8px;
    text-decoration: none;
    color: #718143;
}

.header__nav-link:hover{
    padding-block: 8px;
    padding-inline: 16px;
    text-decoration: none;
    border-bottom: 3px solid rgba(255, 147, 53, 0.8);
}

.header_modos{
    color: white;
    display: flex;
    height: 35px;
    justify-content: space-between;
}

.header_icon{
    margin-inline: 10px;
    border-radius: 1000px;
}

.header_icon:hover{
    color: rgba(255, 147, 53, 0.8);
    margin-inline: 10px;
    border-radius: 1000px;
    cursor: pointer;
}
