#container_sobrenos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 595px;
    height: 460px;
    width: 720px;
    max-width: 780px;
    margin-inline: auto;
    border-radius: 12px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(255, 255, 255);
    padding: 16px;
    margin: 10px;

}

.container_sobre-info{
    height: 95%;
    padding-block: 36px;
    
}

.container_sobre-info h2{
    font-size: 2rem;
    margin-bottom: 23px;
    
}

p{
    margin: 23px;
    font-size: 0.99rem;
    padding-bottom: 12px;
}

    
.btn_sec-pr{
    
}
        