#section_game {
  border: 1px solid #fff0dd;
  width: 100%;
  height: 820px;
  background: #fff0dd; /*Definindo a imagem como background*/
}

.tagLaranja {
  font-family: cursive;
  color: rgba(255, 147, 53, 0.8);
}

.tagVerde {
  font-family: cursive;
  color: #718143;
}

.game-container {
  text-align: center;
  padding: 20px;
  background: #fff;
  width: 48%;
  text-align: center;
  border-radius: 35px;
  margin-block: 140px;
  margin-inline: auto;
  box-shadow: 75px 25px 75px rgba(0, 0, 0, 0.5);
  display: block;
}

#start-container {
  padding-block: 36px;
  width: 85%;
  margin-inline: auto;
  height: 325px;
  /* padding-block: 66px; */
  border-radius: 26px;
}

#quiz-container {
  max-width: 600px;
  margin-inline: auto;
  display: none;
}

#name-input {
  padding: 16px;
  font-size: 1em;
  margin: 20px;
  width: 70%;
  border-radius: 16px;
  border: 1px solid gray;
}

#subtitulo-game {
  font-size: 1rem;
  color: #718143;
}

#player-name,
#high-score {
  color: gray;
}

#timer {
  font-size: 1.1em;
  color: red;
  margin-bottom: 10px;
}

.btn {
  display: block;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  background: #4caf50;
  cursor: pointer;
  width: 60%;
  font-size: 1em;
}

#start-btn {
  background: rgba(255, 147, 53, 0.8);
  color: white;
  width: 45%;
}

.next-btn {
  display: none;
  margin-top: 20px;
  background: #2196f3;
}

#score {
  font-size: 1.1em;
  color: #4caf50;
  margin-bottom: 5px;
}

#question {
  margin-bottom: 20px;
  font-size: 1.5em;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.btn:hover {
  background: rgba(113, 129, 67, 0.8);
}

.next-btn {
  margin-top: 20px;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  display: none;
}

.next-btn:hover {
  background-color: #1976d2;
}

.linkfs {
  font-size: 50px;
}

.correct {
  background: #66bb6a;
}

.wrong {
  background: #ef5350;
}

#end-screen {
  font-family: cursive;
  display: none;
  text-align: center;
  width: 520px;
  margin-block: 120px;
  margin-inline: auto;
  padding: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#end-screen h1 {
  color: #718143;
  margin-bottom: 20px;
}

.end-buttons .btn {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #718143;
  color: white;
  cursor: pointer;
  width: auto;
}
