/*----------------- botão de mudar o tema ------------------*/
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Parkinsans", sans-serif;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #718143;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 147, 53, 0.8);
  }
  font-family: "Parkinsans", sans-serif;
  background-color: #fff4dc;
  color: var(--text-color-light);
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
}
h1 {
  color: #2e7d32;
}
h3 {
  color: rgb(76, 75, 75);
}
h4 {
  color: rgb(76, 75, 75);
}

body.dark {
  font-family: Arial, sans-serif;
  background-color: #fff4dc;
  color: var(--text-color-dark);
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  .container {
    background: #2e7d32;
  }
  .next-btn {
    background-color: #04335b;
  }
  #start-btn {
    background-color: #6486a2;
  }
  h1 {
    color: #6486a2;
  }
  h4 {
    color: rgb(18, 18, 18);
  }
  #toggle-theme {
    background-color: rgb(90, 88, 88, 0.5);
    color: #6486a2;
  }
  .btn {
    background-color: #6486a2;
  }
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}
.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}
.fa-moon {
  color: #f1c40f;
}
.fa-sun {
  color: #f39c12;
}

/*----------------- ////// ------------------*/

.container {
  width: 560px;
  text-align: center;
  padding: 25px;
  border-radius: 35px;
  margin-block: 157px;
  margin-inline: auto;
  box-shadow: 75px 25px 75px rgba(0, 0, 0, 0.5);
  display: block;
}

#start-container {
  width: 100%;
  height: 325px;
  padding: 16px;
  margin: 10px;
}

#quiz-container {
  max-width: 600px;
}

h1 {
  margin-bottom: 20px;
}

h3 {
  margin-top: 0;
}
h4 {
  text-align: center;
}

#score {
  font-size: 1.2em;
  color: #4caf50;
  margin-bottom: 20px;
}

#question {
  margin-bottom: 20px;
  font-size: 1.5em;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.btn {
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.btn:hover {
  background-color: #45a049;
}

.next-btn {
  margin-top: 20px;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  display: none;
}

.next-btn:hover {
  background-color: #1976d2;
}

#name-input {
  padding: 16px;
  font-size: 1em;
  margin: 20px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.linkfs {
  font-size: 50px;
}
